#map_canvas{
	width:	700px; 
	height:	450px;
	margin-top: 1em;
}

img{ border: 0; }

.contentMap{
        width: 630px;
        border: 1px solid #336699;
        max-height:415px;
        overflow:auto;
    }
    .contentImg{
        float: left;
        width: 300px;
        margin-right: 10px;
        text-align: center;
    }
    .contentImg a{
        color: #369;
        font-size: 12px;
    }
    .contentTxt{
        float: left;
        width: 300px;
    }
    .clear{ clear: both; }